<section>

  <!-- width=< %= block.embed_width %> 
  height=< %= block.embed_height %>  -->
  <iframe 
    <% if (block.embed_width) { %>width="<%= block.embed_width %>" <% } %>
    <% if (block.embed_height) { %>height="<%= block.embed_height %>" <% } %>
    src=<%= block.embed_source %> 
    >
  </iframe>


</section>