<section>

  <iframe 
    width=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).embed_width %> 
    height=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).embed_height %> 
    src=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).embed_source %> 
    >
  </iframe>


</section>