<!-- Errors only apear on the brave browser due to this Youtube source iframe. -->
<section>

  <!-- width=< %= block.iframe_width %> 
  height=< %= block.iframe_height %>  -->
  <iframe 
    <% if (block.iframe_width) { %>width="<%= block.iframe_width %>" <% } %>
    <% if (block.iframe_height) { %>height="<%= block.iframe_height %>" <% } %>
    src=<%= block.iframe_source %> 
    >
  </iframe>


</section>