<section>
  <img 
    width=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).image.sharp_width %> 
    height=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).image.sharp_height %> 
    alt="<%- JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).img_alt %>"
    src=<%= JSON.parse(JSON.stringify(locals.article.articlenesteddata_id?.blocks[locals.currentIndex])).image.path %> 
  >
  </img>
</section>