<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BidBlock <%= locals.ENV.environment  %></title>

  <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
  <script src="https://unpkg.com/react@16.6/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.6/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>

  <link defer rel="stylesheet" href='/css/header.ejs.css'></style>
  <link rel="stylesheet" href='/css/error.ejs.css'></style>
  <!-- <script src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/socketio.js"></script> -->

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

  <script>
    // TODO delete webhook ipn logic
    // TODO permissions to distinguish users and subs
    // TODO unsubscribe on paypal servers when logged in and delete subscription entry and null subID in user entry
    // TODO when deleting profile, delete associated subscription entry (might be already the case. Pretty sure)
    
    // Kept just as references
    var userId = '<%= locals.userId  %>'
    var domain = '<%-locals.ENV.domain%>'
    console.log("header script: ", userId, domain, window.location.href)
	</script>
  
</head>