<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BidBlock <%= locals.ENV.environment  %></title>

  <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
  <script src="https://unpkg.com/react@16.6/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.6/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>

  <link defer rel="stylesheet" href='/css/header.ejs.css'></style>
  <link rel="stylesheet" href='/css/error.ejs.css'></style>
  <!-- <script src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/socketio.js"></script> -->

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

  <script>
    // TODO directly use the values if possible, instead of having to assign to variables
    // TODO subs and users 1-1 relation: verify best practices? Does sub need to reference user? Does free tier need a sub credentials?
    // TODO add webhook when cancelling subs in the paypal account sb-mzq9r20359069@business.example.com, delete the subscription in the application
    // TODO permissions to distinguish users and subs
    var userId = '<%= locals.userId  %>'
    var domain = '<%-locals.ENV.domain%>'
    console.log("header script: ", userId, domain, window.location.href)
	</script>

<%if(locals.isPaypalScriptNeeded){%>
<script>
   var paypal_client_id = '<%-locals.ENV.paypal_client_id%>'
   console.log("header script: ", paypal_client_id)
</script>
<%}%>
  
</head>