<ul class="home">
  <li><a href="/">Home</a></li>
</ul>
<ul class="iflog">
  <%if(!loggedIn){%>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  <%}%>
  <%if(loggedIn){%>
    <li><a href="/databases">OrdersApp</a></li>  
    <li><a href="/logout">Log out</a></li>
  <%}%>
</ul>

