/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 


div#the-map {
  /* height: 50vh; */
  margin: 5vh 0;

  height: 40vh;
  /* width: 90%; */
  display: block;

  


}

