div#market > hr {
  border: 2px solid #EEF5FE;
  position: absolute;
  top: 90px;
  width: 85%;
  left: 50%;
  transform: translate(-50%, 0);
}


div.market-main-component > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h1);
  margin: 5vh auto;
  color: #1266FC;
  display: block;
  width: 90%;
}


div.market-main-component > p {
  color: red;
  width: 100%;
  font-size: var(--line-height-generic);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 1rem auto;
  width: fit-content;
}





