.fill {
  cursor: pointer;
}

.img {
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}

/* .reduce-button {
  display: block;
} */

.empty {
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 5px 0;
}

button {
  display: block;
}