div.fill {
  cursor: pointer;
}

img.img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* .reduce-button {
  display: block;
} */

div.empty {
  background-color: white;
  /* height: 150px;
  width: 150px; */
  margin: 3vh 0;
  position: relative;
}

button {
  display: block;
}