/* ENTIRE SECTION */



div#market-order-part5 > div.flex {
  /* background-color: red; */

  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px 0px 20px #00000029;

  /* height: 500px; */

}

div#market-order-part5 > div.flex > * {
  /* flex: 1; */
  padding: 2vh 0;
}




/* EVEN DIVS */
div#market-order-part5 > div.flex > div:nth-of-type(odd) {
  background-color: #F1F4FC;
}



/* ALL BUTTONS */

div#market-order-part5 button {
  border: none;
  background-color: transparent;
  padding: 0;
  vertical-align: middle;
}

div#market-order-part5 button.margin-right,
div#market-order-part5 label.margin-right {
  margin-right: 1ch;
}

div#market-order-part5 span.margin-left,
div#market-order-part5 button.margin-left {
  margin-left: 1ch
}

/* ALL IMAGES */
div#market-order-part5 button > img {
  height: 20px;
  width: 20px;
}


/* P1 */
div#market-order-part5 div#p1 {
  text-align: center;


  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: #010757;
  text-transform: capitalize;
  /* border-radius: 10px 10px 0px 0px; */
}

div#market-order-part5 div#p1 > img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}





div#market-order-part5 div#p1 > span {
  vertical-align: middle;
}




/* P1 CHILDREN */
/* div#market-order-part5 div#p1 > div:first-of-type {
  background-color: red;
}

div#market-order-part5 div#p1 > div:nth-of-type(2) {
  background-color: purple;
} */

div#market-order-part5 div#p1 > div > div {
  display: inline-block;

}




/* P2 */
div#market-order-part5 div#p2 {
  text-align: center;
}

div#market-order-part5 div#p2 > div img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}


div#market-order-part5 div#p2 > div > span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

  /* letter-spacing: 2.4px; */
  text-transform: capitalize;
  vertical-align: middle;
}





div#market-order-part5 div#p2 > div > span:first-of-type {
  color: #010757;
  letter-spacing: 2.4px;
  vertical-align: middle;
}



/* P3 */
div#market-order-part5 div#p3 {
  text-align: center;
}

