<div>

  <div>bloc2-abstract.ejs</div>

  <!-- <div>< %=locals.blog.aside_title%></div>
  itemprop="abstract"
  <ul>
    < % for(let i = 0; i < locals.blog.aside_points.length; i++) { %>
      <li>< %-locals.blog.aside_points[i]%></li>
    < % } %>
  </ul> -->
  
</div>