<details>
  <summary>Table of Content</summary>


  <ol>
    <% for(let i = 0; i < locals.H2H3_blocks.length; i++) { %>

      <% const block = JSON.parse(JSON.stringify(locals.H2H3_blocks[i])); %>

      <!-- < % locals.currentIndex = i; %> -->
      <li class="class-<%=block.type%>"><a href="#<%=block.type%>-<%=block.order%>"><%=block[`${block.type}_innerHTML`]%></a></li>

    <% } %>
  </ol>
</details>



<!-- TODO !!!!! Market page does not stretch on empty load, fix -->