div#messaging > div#chat {
  width: 90%;
  margin: 0 auto;
}


/* H1 (REP) */
div#messaging > div#chat > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h1);
  width: fit-content;
  margin: 5vh 0;
  color: #1266FC;
}


div#chat > div#display {
  background-color: #EEF5FE;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  font-size: var(--font-size-root);
  border-bottom: 3px solid white;

  white-space: nowrap;
  overflow: scroll;
}

div#chat > div#display > div#col * {
  vertical-align: middle;
}

div#chat > div#display > div#col {
  overflow: scroll;
}


div#chat > div#display > div#col > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #80E8FF;
  margin: 0 1.5ch;
}


div#chat > div#display > div#col > span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #010757;
}



