div#msg-box {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid #635956; */
  /* height: 50vh; */
  height: calc(100vh - 215px);
  overflow: scroll;
  background-color: #EEF5FE;
  flex-grow: 1;
}

div#msg-box>li>div.message {
  border-radius: 14px;
}

div#msg-box li {
  text-decoration: none;
  list-style: none;
  /* background-color: #EEF5FE; */
  margin: 20px;

}




div#msg-box>li>div.message>div.content {
  padding: 10px;
  overflow-x: scroll;
}


div#msg-box>li>div.message>div.content>span.content {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #010757;
  display: block;
  font-size: var(--font-size-p-smaller);
}

div#msg-box>li>div.message>div.content>span.time {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  color: #B8CEF5;
  display: block;
  text-align: right;
  font-size: var(--font-size-extra);
}

div#msg-box>li>div.message.current-user>div.content>span.time {
  /* font-weight: bold;
  color: darkblue; */
  color: white;
}



div.message.current-user {
  /* font-weight: bold;
  color: darkblue; */

  background-color: #B8CEF5;
  margin-left: 30px;
}

div.message {
  /* font-weight: bold;
  color: darkblue; */

  background-color: white;
}