div#market>button#drop-down {
  margin: 0 auto;
  display: block;
  z-index: 10;
  position: absolute;
  top: 1.4em;
  width: fit-content;
  left: 0;
  right: 0;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  max-width: 400px;
  padding: .5rem;
  line-height: 1.6rem;
  font-size: var(--font-size-button);
  box-shadow: 0px 6px 20px #1266FC4E;
  border: 1px solid #010757;
  border-radius: 21px;
  text-align: left;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background-color: white;
}


/* WHOLE */
div#market>div.search-inputs {
  background-color: #FFFFFF;
  position: absolute;
  top: 1.3em;
  bottom: 12vh;
  z-index: 2;
  width: 100%;
  overflow: scroll;

  box-shadow: 0px 6px 20px #00000029;
  border-radius: 0px 0px 21px 21px;
}


/* FORM */
div#market>div.search-inputs>form#my_form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}



/* H2 */
div#market > div.search-inputs > form#my_form > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h2);
  margin: 5vh auto;
  color: #1266FC;
  display: block;
  width: fit-content;
}


/* SEARCH TEXT INPUT */
div#market>div.search-inputs>form#my_form>input#title-select {
  border: 1px solid #B8CEF5;
  border-radius: 21px;
  color: rgba(0, 0, 0, 0.766);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 2rem;
  width: 100%;
  margin: 0.5vh 0;
  text-indent: 40px;
  font-size: var(--font-size-smaller-input);


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/public/img/SVG/market/filter/chercher.svg');
  background-position: left 10px center;
  background-repeat: no-repeat;
}


div#market>div.search-inputs>form#my_form>input#title-select::placeholder {
  text-align: center;
  color: #B8CEF5;
  font-size: var(--font-size-smaller-input);
}




/* PICKER CLASS */
div#market > div.search-inputs > form#my_form > select.picker {
  border-radius: 21px;
  color: #010757;
  text-transform: capitalize;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  height: 2rem;
  padding: 0 10px;
  margin: 0.5rem 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/public/img/SVG/market/filter/drop.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: 1px solid #010757;

  font-size: var(--font-size-smaller-input);
}


/* RESET BUTTON */
div#market > div.search-inputs > form#my_form > button#reset-price {
  all: unset;
  display: block;
}


/* LABEL */
div#market > div.search-inputs > form#my_form > label {
  letter-spacing: 1.2px;
  color: #010757;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: var(--font-size-label);
  display: block;
}



div#market > div.search-inputs > form#my_form > div#relative-frame {
  position: relative;
  /* height: 2rem; */
  height: 200px;
}

div#market > div.search-inputs > form#my_form > div#relative-frame > input {
  position: absolute;
  width: 100%;
}

div#market > div.search-inputs > form#my_form > div#relative-frame > span {
  position: absolute;
}
