<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%-include('templates/header');-%>
<body>
  <!-- narbar -->
  <%-include('templates/navbar-top');-%>
  <div id='contents'></div>
  <%-include('templates/scripts');-%>
  <!-- <script type="text/javascript" src="/browserify/Databases.js"></script> -->
  <script type="text/javascript" src="../dist/Databases.js"></script>
</body>
</html>