<!-- Capable from server send data to determine what React base component to render: Either App.js or Databases.js -->
<div id='react-div'></div>
<script type="text/javascript" src="../dist/<%= JSX_to_load %>.js"></script>