<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%-include('templates/header');-%>
<body>
  <!-- narbar -->
  <%-include('templates/navbar');-%>
  <div id='react-div'></div>
  <!-- <%-include('templates/scripts');-%> -->
  <script type="text/javascript" src="../dist/<%= JSX_to_load %>.js"></script>
</body>
</html>