<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include("partials/header") %>
<body>
  <!-- Navbar will adapt to whether logged in or not -->
  <!-- narbar -->
  <%- include("partials/navbar") %>
  <!-- Body either server-side renders one of the react applications App or Databases, or a Login or Register form -->
  <%- body %>
</body>
</html>