<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%-include('templates/header');-%>
<body>
  <h1>Matches Page</h1>
  <!-- narbar -->
  <%-include('templates/navbar-top');-%>
  <hr />
  <div id='contents'></div>
  <%-include('templates/scripts');-%>
  <script type="text/javascript" src="/browserify/Edit.js"></script>
</body>
</html>