<!-- <!DOCTYPE html>
<html>
<head>
    <title>Redirect Page</title>
</head>
<body>
    <h1>Please wait, you are being redirected...</h1>
    <script>
        setTimeout(function() {
            window.location.href = 'https://b0a443z2g-s6kv0l5qlb06pff6.hop.clickbank.net';
        }, 3000);
    </script>
</body>
</html> -->

<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://b0a443z2g-s6kv0l5qlb06pff6.hop.clickbank.net';
    }, 3000);
</script>
</div>

