<!DOCTYPE html>
<html>
<head>
    <title>Redirect Page</title>
</head>
<body>
    <h1>Please wait, you are being redirected...</h1>
    <script>
        setTimeout(function() {
            window.location.href = 'https://b0a443z2g-s6kv0l5qlb06pff6.hop.clickbank.net';
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
</body>
</html>
