<form id="loginregister" action="/users/store" method="POST">  
  <h3>Register</h3>
  <label>Email</label>
  <!-- name allows passing from form to server -->
  <input type="text" name="email">             
  <label>Password</label>
  <input type="password" name="password">                 
  <button type="submit">Register</button>
</form>
