body {
  /* background-color: rgb(204, 208, 167); */
  height: 100vh;
  width: 100vw;
  position: relative;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Gemunu Libre', sans-serif;
  margin: 0;
  
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none; 
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}


ul.home,
ul.iflog {
  list-style: none;
  background-color: black;
  position: fixed;
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  height: fit-content;
  z-index: 1;
  /* Temporary measure */
  /* display: none; */
}

ul.home>li {
  display: inline;
  position: sticky;
  margin: 0 auto;
}

ul.home {
  bottom: 0;
  justify-content: center;
  margin: 0;
}

ul.iflog {
  top: 0;
  justify-content: space-around;
  margin: 0;
}


ul.iflog>li {
  display: inline;
  position: sticky;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: red;
}

a.button {
  margin: 0 auto;
  border: 3.5px solid white;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Gemunu Libre', sans-serif;
}

li a:link:hover {
  color: white;
}

li a:visited {
  color: red;
}

li a:active {
  color: lightblue;
}




div.sidebar-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(12, 66, 113);
  width: 80%;
  border: 1px black solid;
  position: absolute;
  top: 1.3em;
  bottom: 1.3em;
  margin: 0;
  left: 0;
  z-index: 2;
  padding: 0;
}

ul.sidenav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

div[onclick="toogleSideNav()"] {
  color: red;
}


:root {
  --font-size-root: 1.0rem;
  --font-size-p: 1.3rem;
  --font-size-p-smaller: 1.0rem;
  --font-size-p-xsmaller: 0.8rem;
  --font-size-input: 1.0rem;
  --font-size-textarea: 1.0rem;
  --font-size-label: 0.8rem;
  --font-size-extra: 0.8rem;
  --font-size-smaller-input: 0.8rem;
  --font-size-header: 1.5rem;
  --font-size-footer: 1.5rem;
  --font-size-h1: 2rem;
  --font-size-h1-smaller: 1.8rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.3rem;
  --font-size-h4: 1.2rem;
  --font-size-aside: 1.5rem;
  --font-size-aside-title: 2.5rem;
  --font-size-nav: 2.5rem;
  --font-size-subnav: 1.5rem;
  --font-size-subsubnav: 1.0rem;
  --font-size-a: 2.0rem;
  --font-size-button: 1.0rem;
  --font-size-h4: 1.5rem;
  --font-size-footer: 1.2rem;

  --line-height-p: 2.5rem;
  --line-height-list: 2.0rem;
  --line-height-p-smaller: 1.5rem;
  --line-height-ul: 2.5rem;

  --line-height-generic: 1.0rem;
}


:root {
  --card-header-margin: 1rem;
}