body {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}


ul.home,
ul.iflog {
  list-style: none;
  background-color: black;
  /* position: absolute; */
  margin-bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  height: 7vh;
  z-index: 1;
  /* Temporary measure */
  /* display: none; */
}

ul.home > li{
  display: inline;
  position: sticky;
  margin: 0 auto;
}
ul.home {
  bottom: 0;
  justify-content: center;
  margin: 0;
}

ul.iflog {
  top: 0;
  justify-content: space-around;
  margin: 0;
}


ul.iflog > li{
  display: inline;
  position: sticky;
  margin: 0 auto;
}

li > a:link:hover {
  color: white;
}
li > a:visited {
  color: white;
}
li > a:active {
  color: lightblue;
}

form#loginregister {
  height: 80vh;
  overflow: scroll;
  border: 1px black solid;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 3%;
  right: 3%;
}