/* TITLE AND BUTTON */
div#market-order-part1>form.gray-box {
  border: 2px solid #EEF5FE;
  border-radius: 10px;
  padding: 10px 2%;
}

div#market-order-part1 h1>textarea#title-select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1266FC;

  font-size: var(--font-size-h1);
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

div#market-order-part1>form#my_form>h1 {
  /* vertical-align: middle; */
  /* font-size: var(--font-size-h1); */
  margin: 0;
  display: inline;
  box-sizing: border-box;
  height: auto;
  display: block;
}


div#market-order-part1>form#my_form>h1>button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 2ch;
}

div#market-order-part1>form#my_form>h1>button>img {
  width: 42px;
  height: 42px;
}


/* CATEGORY */
div#market-order-part1>form#my_form>select#category-select {
  color: #1266FC;
  background-color: #1266FC21;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  border-radius: 21px;
  padding: .5rem 2rem .5rem .5rem;
  border: none;
  font-size: var(--font-size-smaller-input);

  appearance: none;
  background-image: url('/public/img/SVG/market/individual-article/edit.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  display: block;

  width: fit-content;
}


/* LABELS (REPEATED) */
div#market-order-part1>form#my_form>label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: #010757;
  text-transform: capitalize;
  font-size: var(--font-size-label);
  /* margin-right: 1ch; */
  /* display: inline; */
  display: block;
  width: fit-content;
}


div#market-order-part1>form#my_form>textarea,
div#market-order-part1>form#my_form>select,
div#market-order-part1>form#my_form>input {
  border: 1px solid #B8CEF5;
  border-radius: 8px;

  
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: #6B7FA2;
  width: 100%;
  display: block;

  font-size: var(--font-size-input);
}

div#market-order-part1>form#my_form>textarea {
  /* width: var(100%-2px); */
  padding: 0;
  width: 100%;
  margin: 0 auto;
  line-height: var(--line-height-p-smaller);
}


div#market-order-part1>form#my_form>input {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

div#market-order-part1>form#my_form>select,
div#market-order-part1>form#my_form>input {
  font-size: var(--font-size-input);
}


div#market-order-part1>form#my_form>select.drop-down-icon {
  padding: 1px 10px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/public/img/SVG/market/individual-article/drop.svg');
  background-position: right 2px center;
  background-repeat: no-repeat;
}



/* POPUP (REPEATED)*/
div#market-order-part1 > form.gray-box > span.popup {
  color: red;
  width: 100%;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  max-width: 350px;
  display: block;
}

/* BUTTON SAVE */
div#market-order-part1 > form.gray-box > button.save-part {
  border: none;

  background: transparent linear-gradient(88deg, #80E8FF 0%, #0049E4 100%) 0% 0% no-repeat padding-box;

  box-shadow: 0px 6px 20px #1266FC4E;

  border-radius: 8px;

  font-family: 'Poppins', sans-serif;

  font-weight: 600;

  letter-spacing: 1.4px;

  color: #FFFFFF;

  text-transform: uppercase;

  padding: 0.8rem;
  margin: 2rem;
  font-size: var(--font-size-button);
}





