div.wrapper2 tr {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas : 
  "one two"
  "three three" 
  "four five"
  "six seven"
  "eight eight"
  "nine ten";
}


table.bordered-table {
  border: 1px solid green;
  width: 100%;
  
}


div.wrapper2 {
  height: 80vh;
  overflow: scroll;
  border: 1px black solid;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 3%;
  right: 3%;
}

tr > td#button1 {
  grid-area: nine;
}

tr > td#button2 {
  grid-area: ten;
}