
/* SNAP */
div#article-carousel-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  /* padding-left: 5%; */

  scroll-snap-type: x mandatory;
}

div#article-carousel-container.scroll-blocked {
  overflow-x: hidden;
}
