.email-section-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.email-section-container div#email-marketing-main-component {
  width: 100%;
  height: fit-content;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}
.email-section-container div > div.content > * {
  z-index: 2;
  position: relative;
}
.email-section-container div#element-1 > div.content {
  width: 100%;
  margin: 0 auto;
}

.email-section-container div#element-2 > div.content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.email-section-container div#element-1 > div.content > h1 {
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-h2);
  font-weight: 900;
  letter-spacing: 1.8px;
  color: var(--color-secondary);
  text-transform: capitalize;
  width: 100%;
}
.email-section-container div#element-1 > div.content > p {
  text-align: left;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-align: justify;
  width: 100%;
  padding-bottom: 2rem;
}

/* INNER INNER ELEMENTS 1 */
.email-section-container div#element-2 > div.content > input {
  display: block;
  width: 100%;
  height: 2.5rem;

  box-shadow: 0px 6px 20px #1266fc4e;
  border: none;
  outline: none;

  font-family: "Poppins", sans-serif;
  font-weight: 500;

  letter-spacing: 1.4px;
  color: var(--color-black);
  background-color: var(--color-white);

  border-radius: 2.5rem;
  text-indent: 1.5ch;

  line-height: var(--line-height-input);
  text-transform: unset;
}
.email-section-container div#element-2 > div.content > input::placeholder {
  color: #9a9a9a;
  text-transform: uppercase;
  /* text-align: center; */
}
.email-section-container div#element-2 > div.content > button {
  display: block;
  height: 2.5rem;
  background-color: var(--color-secondary);
  border-radius: 0 2.5rem 2.5rem 0;
  color: var(--color-white);
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0.5rem 1rem;

  letter-spacing: 1.4px;
  color: var(--color-white);
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 0;
}
.email-section-container div#element-2 > div.content > button:hover {
  background-color: rgba(--color-primary);
  color: white;
}
.email-section-container div#email-marketing-main-component > img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.email-section-container div#element-2 > div.content > span.popup {
  color: rgb(255, 141, 141);
  width: 100%;
  font-size: var(--font-size-extra);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  display: block;
}
.email-section-container div#element-2 > div.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem auto 0 auto;
}
.email-section-container div#element-2 > div.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}
.email-section-container div#element-2 > div.social-media a img {
  width: 100%;
}
.email-section-container div#element-2 > div.social-media p {
  width: 100%;
  color: var(--color-white);
  font-weight: 400;
  font-size: var(--font-size-root);
  margin: 1rem 0 0 0;
}
.email-section-container

/* REP */
div.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
  margin: 4vh auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .email-section-container {
    padding: 0 3rem;

    justify-content: center;
  }

  .email-section-container div#element-1 > div.content > h1 {
    text-align: center;
  }
  .email-section-container div#element-1 > div.content > p {
    text-align: center;
  }

  .email-section-container div#element-2 > div.social-media {
    justify-content: center;
  }

  .email-section-container div#element-2 > div.social-media p {
    text-align: center;
  }
}
