div#FAQ-main-component > h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2.9px;
  color: #010757;
  margin: 0;
}




/* Default configuration for screen width > 1000px */
div#FAQ-main-component {
  width: 50%;
  margin: 0 auto;
}

/* Configuration for screen width < 1000px */
@media (max-width: 1000px) {
  div#FAQ-main-component {
      width: 80%;
      margin: 0 auto;
  }
}
