/* REP */
div#articles-main-component>h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: #010757;
  text-transform: capitalize;
}



div#articles-main-component>p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6B7FA2;
}


div#articles-main-component>a {
  background: #1266FC;
  box-shadow: 0px 6px 20px #1266FC4E;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: .5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
}

