.recent-articles-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 3rem 0;
}
.recent-articles-container .recent-articles-title {
  color: var(--color-accent);
  font-size: var(--font-size-h1);
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}
.recent-articles-container .recent-articles-description {
  color: var(--color-black);
  font-size: var(--font-size-root);
  text-align: center;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-weight: 600;
  margin: 1rem auto;
  width: 70%;
}

.recent-articles-container .recent-articles-button {
  font-size: var(--font-size-root);
  font-weight: 700;
  color: var(--white);
  background-color: var(--color-primary);

  border-radius: 1.3rem;

  margin: 1rem auto 2rem auto;
  padding: 1rem 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);

  border: none;
  outline: none;

  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2.5rem;
  width: 8rem;
}


.recent-articles-container .recent-articles-slide {
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  display: block;

  display: flex;
  align-items: end;

  padding: 3rem 5rem;


  border-radius: 1.5rem;
  color: var(--color-white);
}


.recent-articles-container .recent-articles-slide:hover {
  text-decoration: none;
}
.recent-articles-container.recent-articles-slide-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

}

.recent-articles-container.recent-articles-slide-title {
  font-size: var(--font-size-h2);
  color: var(--color-white);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.recent-articles-container .swiper-pagination-bullet {
  background-color: var(--color-white) !important;
  opacity: 0.5;
}

.recent-articles-container
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-white) !important;
  opacity: 1;
}
