/* TODO REPETED CODE */
div#market-main-component {
  width: 90%;
  margin: 0 auto;
}


div#market-main-component>h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h1);
  margin: 5vh auto;
  color: #010757;
  display: block;
  text-align: center;
  margin: 0;
}


div#market-main-component>a {
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  width: fit-content;
}