div#home-header-cards>div#home-card {
  max-width: 306px;
  width: 90%;
  margin: 0 auto;

  background: #FFFFFF;
  border-radius: 15px;
  z-index: 1;
  position: relative;

  margin-bottom: 2vh;

  padding: 30px;

  background-image: url('/public/img/SVG/home/home-cards/intersection.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-position: center 0 bottom 20%; */
  box-sizing: border-box;

  appearance: none;
  background-position: top 70px center;
  display: block;

  width: fit-content;

}


/* div#home-header-cards>div#home-card>* {
  position: absolute;

} */

div#home-header-cards>div#home-card > img {
  display: block;
  margin: 0 auto;

  background-image: url('/public/img/SVG/home/home-cards/ball.svg');
  background-size: 77px 77px;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

