.banner-container {
  width: 100%;
  min-height: 800px;
}
.banner-container .row {
  min-height: 800px;
}
.banner-container .banner-title {
  width: 300px;
  color: var(--color-white, white);
  font-size: var(--font-size-big-title-smaller, 3rem);
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 1rem auto;
}
.banner-container .banner-title .with {
  font-size: var(--font-size-h2, 1.5rem);
}
.banner-container .banner-title .bidblock {
  color: var(--color-secondary, #7ae0fa);
}
.banner-container .banner-description {
  font-size: var(--font-size-p-xsmaller, 0.8rem);
  color: var(--color-white, white);
  width: 300px;
  text-align: justify;
  margin: 1rem auto;
}
.banner-container .banner-search {
  width: 300px;
  position: relative;
  height: 2.2rem;
  margin: 1rem auto;
}
.banner-container .banner-search .select-category-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.2rem;
  border-radius: 1.1rem 0 0 1.1rem;
  width: 100px;
}

.banner-container .banner-search .select-category-container .select-button {
  border-radius: 1.1rem 0 0 1.1rem;
  padding: 0 1.1rem;
}
.banner-container .banner-search input[type="text"] {
  height: 2.2rem;
  border-radius: 1.1rem;
  width: 100%;
  padding: 0 50px 0 110px;
}
.banner-container .banner-search .btn-primary {
  position: absolute;
  right: 0;
  top: 0;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 0 1.1rem 1.1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--color-secondary, #7ae0fa);
}
.banner-container .img-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.banner-container .img-container img {
  width: 800px;
  position: absolute;
}
.banner-container .price-card {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.banner-container .price-card .price-img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}
.banner-container .price-card .price-text {
  background-color: var(--color-primary, #7ae0fa);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white, white);
  border-radius: 30px;
  padding: 5px 15px;
}

@media (min-width: 992px) {
  .banner-title {
    width: 385px !important;
    font-size: var(--font-size-big-title, 4rem) !important;
    letter-spacing: 0.2rem !important;
    margin: 1rem 0 !important;
  }
  .banner-title .with {
    font-size: var(--font-size-h1, 2rem) !important;
  }
  .banner-description {
    margin: 1rem 0 !important;
    width: 385px !important;
    font-size: var(--font-size-p-smaller, 1rem) !important;
  }
  .banner-search {
    margin: 1rem 0 !important;
    width: 385px !important;
  }
}
