@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


div#market-main-component > div#header-grid > div > a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  font-size: var(--font-size-root);
}


div#create-article > div#nest-1 > a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  font-size: var(--font-size-root);
}

div#create-article > div#nest-1 > a > img{
  margin: .5rem;
  vertical-align: middle;
}


/* PROCEED, PREVIOUS BUTTONS */
div#nav>button {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00D1FF;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-root);
  margin: 3vh auto;
  vertical-align: middle;
}

div#nav>img {
  vertical-align: middle;
}



div#create-article>div#nest-1 {
  width: 90%;
  margin: 0 auto;
}

div#create-article>div#nest-1>h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1266FC;
  font-size: var(--font-size-h3);
}

form#create-article-form-id>label {
  display: block;
}

div#create-article>div#nest-1>form#create-article-form-id>label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  clear: right;
  font-size: var(--font-size-label);
  margin: 1vh 0;
}


div#create-article>div#nest-1>form#create-article-form-id>input[type='text'] {
  border: 1px solid #B8CEF5;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.766);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 2rem;
  width: 100%;
  margin: 0.5vh 0;
  font-size: var(--font-size-smaller-input);
  text-indent: 2ch;
}


div#create-article>div#nest-1>form#create-article-form-id>input[type='text']::placeholder {
  color: #B8CEF5;
}

