@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


div#market-main-component > div#header-grid > div > a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  font-size: var(--font-size-root);
}


div#nest-1 > a#reset {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  font-size: var(--font-size-root);
}

div#nest-1 > a#reset > span{
  color: #1266FC;
}

div#nest-1 > a > img{
  margin: .5rem;
  vertical-align: middle;
}


/* PROCEED, PREVIOUS BUTTONS */
div#nav>button {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00D1FF;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-root);
  margin: 3vh auto;
  vertical-align: middle;
}

div#nav>img {
  vertical-align: middle;
}



div#nest-1 {
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1266FC;
  font-size: var(--font-size-h3);
}

label {
  display: block;
}

/* div#create-article>div#nest-1> */
label,
div > label
/* div#create-article>div#nest-1> */
/* span */
 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  clear: right;
  font-size: var(--font-size-label);
  margin: 1vh 0;
}

div.toogler>label> span{
  font-size: var(--font-size-generic);
}

div#checkboxes_rel > label {
  display: inline-block;
}

/* div#create-article>div#nest-1> */
span>pre {
  display: inline;
  color: red;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
}


/* div#create-article>div#nest-1> */
span {
  color: rgba(0, 0, 0, 0.766);
}


/* div#create-article>div#nest-1> */
/* div#create-article>div#nest-1> */
/* div#create-article>div#nest-1> */

input[type='text'],
input[type='number'],
div#create-article-form-id > div > input[type='number'],
div#create-article-form-id > div > input[type='text'],
textarea 
{
  border: 1px solid #B8CEF5;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.766);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 2rem;
  width: 100%;
  margin: 0.5vh 0;
  font-size: var(--font-size-smaller-input);
  text-indent: 2ch;
}

/* div#create-article>div#nest-1> */
textarea {
  height: 500px;
}


/* div#create-article>div#nest-1> */
input[type='text']::placeholder,
input[type='number']::placeholder {
  color: #B8CEF5;
}

input[type='text']::placeholder,
input[type='number']::placeholder,
div#create-article-form-id > div > input[type='number']::placeholder,
div#create-article-form-id > div > input[type='text']::placeholder,
textarea::placeholder
{
  color: #B8CEF5;
}




.input-with-tags {
  display: flex;
  flex-flow: row wrap;
  line-height: 2rem;
  width: 100%;
  /* height: 3rem; */
  min-height: 2rem;
  border: 1px solid #B8CEF5;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.766);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0.5vh 0;
  padding: 1px 2px;
  font-size: var(--font-size-smaller-input);
}

.input-with-tags .tag {
  background-color: #EEF5FE;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 5px;
  /* border: 1px solid #ccc; */
}


/* div#nest-1> */
div#create-article-form-id>select {
  padding: 1px 10px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/public/img/SVG/operations/global/drop.svg');
  background-position: right 2px center;
  background-repeat: no-repeat;

  font-size: var(--font-size-input);

  border: 1px solid #B8CEF5;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: #6B7FA2;
  width: 100%;
  display: block;
  font-size: var(--font-size-input);
  text-indent: 1ch;
  /* padding: 1px 2px; */
  line-height: 2rem;
}