@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

div#market {
  overflow: hidden;
}


div#market-main-component {


  /* height: 60vh; */


  /* width: 94%; */
  /* width: 94vw; */
  overflow: scroll;
  /* border: 1px red solid; */
  position: absolute;
  bottom: 50px;


  /* top: 30%; */
  top: 180px;

  /* left: 3%;
  right: 3%; */
  
  left: 0%;
  right: 0%;
}