@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');



div#react-div>div {
  overflow: scroll;
  /* border: 1px black solid; */
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 0%;
  right: 0%;

}