@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



a#reset {
  margin: 2vh auto;
  display: flex;
  width: fit-content;
  font-size: var(--font-size-a);
  align-items: center;
}

a#reset > img{
  width: 25px;
  height: 25px;
}

a#reset > span{
  margin: 0 0.5ch;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #1266FC;
}

div#pro-pre {
  font-size: var(--font-size-button);
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: fit-content;
}

div#pro-pre > button {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00D1FF;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-h4);
  margin: 3vh auto;
}