details > ol {
  width: 95% !important;
}

details > summary {
  font-size: var(--font-size-h2-smaller) !important;
}



details > ol > li {
  font-size: var(--font-size-p-xsmaller) !important;
  letter-spacing: 1.2px !important;
}
