<div class="box">
  <div>
    <!-- TODO !!!!! needs some styling! -->
    <h1>HTML sitemap</h1>
    
    <ul>

      <% for (var i = 0; i < locals.urls.length; i++) { %>
        <li><a href='<%=locals.urls[i].URL%>'><%=locals.urls[i].Display%></a></li>
      <% } %>
    </ul>
  </div>
</div>
