

<article>
  <%- include('blog/bloc1-header.ejs') %>
  <%- include('blog/bloc2-abstract.ejs') %>
  <%- include('blog/bloc3-content.ejs') %>
  
  <div id='react-div'></div>
</article>



<script type="text/javascript" src="/dist/<%= JSX_to_load %>.js"></script>
