<script>
  console.log("WHERE THINGS NEED TO BE: ", user, currentUserEmail, userIdB, orderId, domain_without_protocol, CATEGORY, selectedUser, userId, popup)
</script>


<div id='react-div'></div>


<div id="popup" style="display: none;"><%if(locals.popup){%><%=popup%><%}%></div> 
<div id='demo'></div>

<%if(locals.isPaypalScriptNeeded){%>
  <script src="https://www.paypal.com/sdk/js?client-id=<%-locals.ENV.paypal_client_id%>&vault=true&intent=subscription"></script>
<%}%>


<!-- Capable from server send data to determine what React base component to render: Either App.js or Databases.js -->
<script type="text/javascript" src="/dist/<%= JSX_to_load %>.js"></script>


<%if(URL_ == "/marketplace/makesell"){%>
  <div id="autocomplete-block">
    <label htmlFor="autocomplete-select">Trade Location</label>
    <input id="autocomplete-select" type="text" name="autocomplete" required/><span>📍 is DRAG-ABLE!</span>
  </div>

  <div id="the-map"></div>
  <script src="/js/mapInit2.js"></script>
<%}%>

