<script>
  // console.log("WHERE THINGS NEED TO BE: ", user, currentUserEmail, userIdB, orderId, CATEGORY, selectedUser, userId, popup)
</script>


<div id='react-div'></div>

<!-- TODO !!!! Try to determine if this is popup div is needed, as Home popups are rendered directly on the App component -->
<span id="popup" style="display: none;"><%if(locals.popup){%><%=popup%><%}%></span> 

<div id='demo'></div>

<%if(locals.isPaypalScriptNeeded){%>
  <script src="https://www.paypal.com/sdk/js?client-id=<%-process.env.PAYPAL_CLIENT_ID%>&vault=true&intent=subscription"></script>
<%}%>


<!-- TODO ! figure out how to template caseSettingsPage variable -->
<%if(URL_ == "/marketplace/makesell" || URL_ == '/settings' || URL_ == `/settings/set-users-associated-locality` || URL_ == `/settings/test2` || URL_ == `/settings/test3` || URL_ == `/settings/test4`){%>

  <div id="autocomplete-block">
    <label class="h3-bold" htmlFor="autocomplete-select">Location</label>
    <input id="autocomplete-select" type="text" name="autocomplete" required placeholder="Select location"/>
  </div>

  <div id="the-map"></div>
  <script src="/js/mapInit4.js"></script>


<%}%>


<!-- Capable from server send data to determine what React base component to render: Either App.js or Databases.js -->
<script type="text/javascript" src="/dist/<%= JSX_to_load %>.js"></script>