<!-- <script>
  // Kept as reference
  var role = ' locals.user?.role  %>< % ='
  console.log("do we have a role? ", role)
</script> -->

<ul class="home">
  <li>
    <a href="/">
      <img src="/img/SVG/home/nav-icons/home1.svg" alt="">
    </a>
  </li>
  <%if(loggedIn){%>
    <!-- <li><a href="/users/profile">Profile</a></li> -->
    <li>
      <a href="/messaging/messages">
        <img src="/img/SVG/home/nav-icons/chat2.svg" alt="">
      </a>
    </li>
    <%}%>
  </ul>
  <ul class="iflog">
    <li>
      <div onclick="toogleSideNav()">
        <img src="/img/SVG/home/nav-icons/toogle.svg" alt="">
      </div>
    </li>
  <%if(!loggedIn){%>
    <li>
      <a href="/users/login">
        <img src="/img/SVG/home/nav-icons/login1.svg" alt="">
      </a>
    </li>
    <li>
      <a href="/subscription">
        <img src="/img/SVG/home/nav-icons/sub2.svg" alt="">
      </a>
    </li>
  <%}%>
  <%if(loggedIn){%>
    <!-- <li><a href="/databases">OrdersApp</a></li>   -->
    <li>
      <a href="/logout">
        <img src="/img/SVG/home/nav-icons/logout1dark.svg" alt="">
      </a>
    </li>
  <%}%>
</ul>

<div class="sidebar-container">

  
  <ul class="sidenav">
    <% if(typeof loggedInUserId !== 'undefined' && loggedInUserId) { %>
    <!-- < % if(loggedIn) { %> -->
      <div>
        <img src='<%=loggedInUserImgProfilePath%>' alt="">
        <span><%=loggedInUserName%></span>
        <hr />
      </div>
    <%}%>

    <%if(!loggedIn){%>
      <li><a href="#">Template</a></li>
    <%}%>
    <%if(loggedIn){%>
      <li><a href="/users/profile">Profile</a></li>
      <li><a href="/settings">Settings</a></li>
      <!-- Disables the currency app -->
      <!-- <li><a href="/currency/btclayerexchange">BTC Layer Exchange</a></li> -->
      <li><a href="/marketplace/sellordersdata">Market Place</a></li>  
    <%if(locals.user?.role == "MASTER"){%>
      <li><a href="/operations">Operations</a></li>  
    <%}%>
    <%}%>
    <li><a href="/articles">Articles</a></li>
  </ul>
</div>

<script src="/js/toogle.js"></script>



