<ul class="home">
  <li><a href="/">Home</a></li>
  <li><a href="/operations">Operations Main</a></li>
</ul>

<ul class="iflog">
  <li><div onclick="toogleSideNav()">Toogle</div></li>
  <!-- <li><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li> -->
  <li><a href="/logout">Logout</a></li>
</ul>

<div class="sidebar-container">
  <ul class="sidenav">
    <!-- Disables the currency app -->
    <!-- <li><a href="/operations/help-for-orders">Help for Orders</a></li> -->
    <li><a href="/operations/articles-dashboard">Articles Dashboard</a></li>
    <li><a href="/operations/monitor-messages">Monitor Messages</a></li>
    <li><a href="/operations/manage-subs">Manage Accounts/Subscriptions</a></li>
    <li><a href="/operations/help-for-market-orders">Help for Market Orders</a></li>
    <li><a href="/operations/set-settings">Set Settings</a></li>
    <!-- <li><a href="#">Link 4</a></li> -->
  </ul>
</div>

<script src="/js/toogle.js"></script>



