form#loginregister > p:first-of-type {
  margin: 0;
  width: fit-content;
  font-size: var(--font-size-p);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  color: #6B7FA2
}

div#label {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--font-size-label);
  width: 100%;
  margin: 1.2rem 0 0.5rem 0;
}

div#label > a {
  color: #1266FC;
}



div#react-div > div#footer-on-page {
  background: unset;
}


div#login-container {
  flex-grow: 1;
}