@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;500;700&display=swap');

body {
  background-image: linear-gradient(to right, #0048e49c, #80e8ffb0), url('/public/img/SVG/signin/bk1.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}


/* body * {
  background-color: rgba(102, 51, 153, 0.246);
} */




div#container-log-reg {
  background-color: white;
  width: fit-content;
  padding: 30px;
  margin: 5vh auto 5vh auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #00000029;
}
div#container-log-reg > * {
  width: 90%;
}

div#container-log-reg button {
  font-size: var(--font-size-button);
  display: block;
}

form#loginregister {
  margin: auto;
}


form#loginregister > h3 {
  width: fit-content;
  font-size: var(--font-size-h3);
  font-family: 'Montserrat', sans-serif;
  margin: 2rem auto;
  color: #1266FC;
}

form#loginregister > p:first-of-type {
  margin: 0;
  width: fit-content;
  font-size: var(--font-size-p);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  color: #6B7FA2
}

form#loginregister > label {
  display: block;
  font-size: var(--font-size-label);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 70%;
  margin: 1.2rem 0 0.5rem 0;
}

form#loginregister > input {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-input);
  width: 96%;
  margin: .5rem auto;
}

form#loginregister > input::placeholder {
  color: #B8CEF5;
}



div#more-log-reg p {
  margin: 0;
  width: fit-content;
  display: inline;
}

div#label {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--font-size-label);
  width: 100%;
  margin: 1.2rem 0 0.5rem 0;
}


div#more-log-reg{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--font-size-extra);
}

div#more-log-reg > p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


div#more-log-reg > a,
div#container-log-reg > button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


div#container-log-reg > button {
  border-radius: 8px;
  opacity: 1;
  box-shadow: 0px 6px 20px #1266FC4E;
  background: transparent linear-gradient(89deg, #80E8FF 0%, #0049E4 100%) 0% 0% no-repeat padding-box;
  color: white;
  letter-spacing: 1.2px;
  border: none;
  padding: 0.8rem;
}


div#container-log-reg button,
div#more-log-reg {
  margin: 2rem auto;
}


div#container-log-reg a {
  color: #1266FC;
}

form#loginregister > p.popup {
  color: red;
  width: 100%;
  margin: 0 auto;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
}