.reset-container {
  min-height: 100vh;
  position: relative;
  background-color: #010757;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.reset-container > .fixed-background {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010757;
  background-image: url("/public/img/home/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
}

.reset-container .reset-form {
  width: 35rem;
  max-width: 100%;
  border-radius: 2rem;
  background-color: rgba(12, 31, 95, 0.7);
  padding: 4rem 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 0;
  opacity: 1;
  position: relative;
  z-index: 2;
}

.reset-container .reset-form label {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
}

.reset-container .reset-form input {
  width: 100%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);

  #popup {
    color: red;
    width: 100%;
    margin-bottom: 2rem;
  }
  padding: 0 1rem;
  height: 3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  margin-bottom: 2rem;
}

.reset-container .reset-form input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.reset-container .reset-form input:focus {
  border-bottom: 2px solid var(--color-secondary);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.reset-container .reset-form h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  width: 100%;
  color: var(--color-white);
}

.reset-container .reset-form button {
  width: 100%;
  font-size: 1.1rem;

  height: 3rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  outline: none;
  border: none;
  border-radius: 1.3rem;
  font-weight: 700;
}

#popup {
  color: red;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

#popup  * {
  width: 100%;
}
