div.reset-container {
  width: 90%;
  margin: 0 auto;
}

/* REPETED */
div.reset-container>form>h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h3);
  width: fit-content;
  /* margin: 5vh 0; */
  color: #1266FC;
}

/* REPETED */
div.reset-container>form>span#popup {
  color: red;
  width: 100%;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  /* margin: 1rem 0; */
  /* max-width: 350px; */
  display: block;
}

div.reset-container>form>label {
  display: block;
  font-size: var(--font-size-label);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 100%;
  margin: 1.2rem 0 0.5rem 0;
}

div.reset-container>form>input {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-input);
  width: 100%;
  margin: 0.5rem auto;
  text-indent: 1ch;
  box-sizing: border-box;
}

div.reset-container>form>input::placeholder {
  color: #B8CEF5;
  text-indent: 1ch;
}

div.reset-container>form>button {
  border-radius: 8px;
  opacity: 1;
  box-shadow: 0px 6px 20px #1266FC4E;
  background: transparent linear-gradient(89deg, #80E8FF 0%, #0049E4 100%) 0% 0% no-repeat padding-box;
  color: white;
  letter-spacing: 1.2px;
  border: none;
  padding: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 2rem auto;
  font-size: var(--font-size-button);
  display: block;
}

div.reset-container>form {
  background-color: white;
  /* width: fit-content; */
  padding: 30px;
  margin: 5vh auto 5vh auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #00000029;
  max-width: 600px;
}


body {
  background-image: linear-gradient(to right, #0048e49c, #80e8ffb0), url('/public/img/SVG/profile/user-info/logo-bk2.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}