div#about-to-save-profile-image-id {
  /* position: absolute; */
  /* z-index: 1; */
  margin: 0 auto;
  display: block;
  width: fit-content;
}


div#about-to-save-profile-image-id>img {
  width: 195px;
  height: 195px;

  border: 1px solid #80E8FF;
  border-radius: 50%;
}