/* ALL BUTTONS */
/* div#react-div >  */
button.modal-poper-button {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* UPGRADE BASIC BUTTON STYLES (REP) */
/* div#react-div >  */
button#upgrade-id {
  background-image: url('/public/img/SVG/profile/upgrade-button/bk-logo-card2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0px 6px 20px #1266FC4E;
  color: white;

  margin: 3vh auto;
  /* height: 400px; */
  max-width: fit-content;
  width: 90%;
}

/* div#react-div >  */
button#upgrade-id > h3 {
  margin: var(--card-header-margin) var(--card-header-margin) 0 var(--card-header-margin);
  font-size: var(--font-size-h3);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* div#react-div >  */
button#upgrade-id > span {
  font-size: var(--font-size-h4);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  color: #1266FC;
}

/* div#react-div >  */
button#upgrade-id > div {
  font-size: var(--font-size-button);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 1rem;
}



/* DELETE BUTTON */
/* div#react-div >  */
button#delete-id {
  margin: 2vh auto;
  padding: 0.8rem;
  background: #010757;
  color: #80E8FF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  font-size: var(--font-size-button);
  
  max-width: fit-content;
  width: 90%;
}





/* UNSUB BUTTON */
/* div#react-div >  */
button#unsub-id {
  width: 90%;
  text-align: left;
  margin: 2vh auto;

  font-family: 'Poppins', sans-serif;
  font-weight: 700;

  text-decoration: underline;
  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
  font-size: var(--font-size-button);
}