img {
  /* width: 50px;
  height: 50px; */
}

/* MODAL CONTAINER GLOBAL */
/* CSS not applied to Profile.jsx, but globally to modal containers */
div#react-div div.modal-top-container {
  position: absolute;
  top: 20px;
  right: 10%;
  left: 10%;
  /* right: 0;
  left: 0; */
  margin: auto;
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #FFFFFF;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 8px;

  z-index: 1;
}

/* CROSS CANCEL GLOBAL */
/* CLOSE CONTAINER */
div#react-div div.modal-top-container > div.close {
  margin-bottom: 1rem;
}

/* CLOSE IMAGE GLOBAL */
div.modal-top-container > div.close > img {
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  padding: 0.7ch;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
   margin: 15px 0 0 15px;
}


/* H1 MODALS GLOBAL */
div.modal-top-container>div.modal-content>h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  color: #1266FC;
  /* text-transform: capitalize; */
  font-size: var(--font-size-h1);
  display: block;
  margin: 0 5% 1rem 5%;
  clear: left;
  text-align: center;
  width: unset;
}




/* MODAL BUTTONS GLOBAL */
/* div.modal-top-container >  */
div#bottom-buttons > button {
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding: 0.5rem;
  box-shadow: 0px 6px 20px #1266FC4E;
  margin: 0 auto;
  font-size: var(--font-size-button);
}

div#bottom-buttons > button:disabled,
div#bottom-buttons > button[disabled] {
  opacity: 0.5;
}



/* div.modal-top-container >  */
div#bottom-buttons {
  text-align: center;
  margin: 2rem 5%;
}



div.modal-top-container span#popup {
  color: red;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin: 0 5%;
  /* max-width: 350px;
  width: 100%; */
}

div#react-div > div.popup {
  color: red;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
}



div.modal-top-container>div.modal-content > * {
  width: 90%;
  margin: 0 auto;
}