img {
  /* width: 50px;
  height: 50px; */
}

/* MODAL CONTAINER GLOBAL */
/* CSS not applied to Profile.jsx, but globally to modal containers */
div#react-div div.modal-top-container {
  position: absolute;
  top: 20px;
  right: 5%;
  left: 5%;
  /* TODO !!!! determine the proper limit 60% for example with a stroll for the content */
  /* bottom: 50%; */
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #FFFFFF;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 8px;

  z-index: 1;
}

/* CROSS CANCEL GLOBAL */
/* CLOSE CONTAINER */
div#react-div div.modal-top-container > div.close {
  margin-bottom: 1rem;
}

/* CLOSE IMAGE GLOBAL */
div.modal-top-container > div.close > img {
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  padding: 0.7ch;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
   margin: 15px 0 0 15px;
}


/* H1 MODALS GLOBAL */
div.modal-top-container>div.modal-content>h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  color: #1266FC;
  text-transform: capitalize;
  font-size: var(--font-size-h1);
  display: block;
  margin: 0 auto 1rem auto;
  clear: left;
  width: fit-content;
}