div#react-div {
  /* position: relative; */
}

/* MODAL CONTAINER FOR UPLOAD IMAGE */

div#react-div>div.modal-top-container {}


/* CROSS */
div#image-upload-id>div.modal-content>img {
  display: inline-block;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  padding: .7ch;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;


  margin: 15px 0 0 15px;
  /* bottom: 4%; */
  /* right: 12%; */
  /* position: absolute; */
}


/* INPUT */
div#image-upload-id form#form_id>input#image-select {
  display: none;
  /* cursor: pointer; */
}

/* LABEL BUTTON */
div#image-upload-id form#form_id>label {
  margin: 1rem auto 0 auto;
  width: fit-content;
  display: block;

  font-family: 'Poppins', sans-serif;
  font-weight: 700;

  font-size: var(--font-size-input);


  letter-spacing: 1.4px;
  color: #1266FC;
  text-transform: uppercase;
}



div#image-upload-id form#form_id>label+div {
  margin: 0 auto;
  width: fit-content;
  display: block;


  font-family: 'Poppins', sans-serif;
  font-weight: 700;

  font-size: var(--font-size-button);

  letter-spacing: 1.2px;
  color: #B8CEF5;

  
  margin: 0 auto 2vh auto;
}



div#image-upload-id div#bottom-buttons>button {
  margin: 0 0.2rem;
}


/* MODAL BUTTONS COLORS */

/* BUTTON 1 */
div#image-upload-id div#bottom-buttons>button:first-of-type {
  border: 1px solid #1266FC;
  color: #1266FC;
}


/* BUTTON 2 */
div#image-upload-id div#bottom-buttons>button:nth-of-type(2) {
  border: none;
  color: white;
  background: transparent linear-gradient(89deg, #80E8FF 0%, #0049E4 100%) 0% 0% no-repeat padding-box;
}



/* POPUP (REPEATED) ppopup */ 
/* div#image-upload-id form#form_id>span#popup {
  color: red;
  width: 100%;
  font-size: var(--font-size-extra);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 350px;
  display: block;
} */