div.wrapper tr {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas : 
  "one two"
  "three three" 
  "four five"
  "six seven"
  "eight eight"
  "nine nine";
}

div.wrapper {
  height: 70vh;
  width: 94vw;
  overflow: scroll;
  border: 1px red solid;
  position: absolute;
  bottom: 10%;
  top: 20%;
  left: 3%;
  right: 3%;
}
tr > td#id1 {
  display: none;
}
tr > td#posteddate1 {
  grid-area: one;
}
tr > td#crypto1 {
  grid-area: two;
}
tr > td#amount1 {
  grid-area: three;
}
tr > td#email1 {
  grid-area: four;
}
tr > td#chain1 {
  grid-area: five;
}
tr > td#rate1 {
  grid-area: six;
}
tr > td#payment1 {
  grid-area: seven;
}
tr > td#expiry1 {
  grid-area: eight;
}
tr > td#deal1 {
  grid-area: nine;
}