div.wrapper2 tr {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas : 
  "one two"
  "three three" 
  "four five"
  "six seven"
  "eight eight"
  "nine ten";
}

div.wrapper2 {
  height: 80vh;
  overflow: scroll;
  border: 1px black solid;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 3%;
  right: 3%;
}

table.bordered-table {
  border: 1px solid green;
  width: 100%;
  
}


tr > td#posteddate1 {
  grid-area: one;
}
tr > td#crypto1 {
  grid-area: two;
}
tr > td#amount1 {
  grid-area: three;
}
tr > td#username1 {
  grid-area: four;
}
tr > td#chain1 {
  grid-area: five;
}

tr > td#rate1 {
  grid-area: six;
}
tr > td#payment1 {
  grid-area: seven;
}

tr > td#expiry1 {
  grid-area: eight;
}
tr > td#button1 {
  grid-area: nine;
}
tr > td#button2 {
  grid-area: ten;
}

tr > td#id1 {
  display: none;
}
tr > td#form4 {
  display: none;
}